---
import { Image } from "astro:assets"
import twitter_icon from "../../assets/twitter_icon.svg"
import github_icon from '../../assets/github_icon.svg'
import cv_icon from "../../assets/cv_icon.svg"
import linkedin_icon from "../../assets/linkedin_icon.svg"
import CV from "../../assets/hassanbenhajbouih.pdf"
---

<section 
  id="contact" class="pt-16"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="50" 
  data-aos-once="true">
  <h1 class="mb-14 md:mb-28 tracking-wider text-7xl md:text-9xl font-bold text-center text-orange dark:text-alt ">CONTACT</h1>
  <div class="w-4/5 m-auto"
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50" 
    data-aos-once="true">
    <p class="mb-2 font-bold text-lg md:text-3xl">Let's connect!</p>
    <p class="mb-5 md:text-lg md:tracking-wide">I am currently looking for opportunities, my inbox is always open, Whether you want to hire me or just want to say hi, I will definetly get back to you!</p>
    <a href="mailto:hassan.benhajbouih@gmail.com" class="md:text-xl md:tracking-wide underline underline-offset-4">hassan.benhajbouih@gmail.com</a>
    <div class="mt-3 flex flex-row items-center">
          <a
            href="https://twitter.com/hassan_bhb"
            class="p-2"
            title="My twitter account"
            >
            <Image src={twitter_icon} class="w-9" alt="Twitter icon" />
          </a>
          <a
            href="https://github.com/Hassanbhb"
            class="p-2"
            title="My github account"
            >
            <Image src={github_icon} class="w-9" alt="Github icon" />
          </a>
          <a href="https://www.linkedin.com/in/hassan-ben-haj-bouih-014084121/" class="p-2" title="My linkedIn account">
            <Image src={linkedin_icon} class="w-9" alt="Linkedin icon" />
          </a>
          <a href={CV} class="p-2" title="My cv">
            <Image src={cv_icon} class="w-9" alt="C V icon" />
          </a>
    </div>
  </div>
</section>
