---
import { Image } from "astro:assets";
import cv_icon from "../../assets/cv_icon.svg";
import twitter_icon from "../../assets/twitter_icon.svg";
import github_icon from "../../assets/github_icon.svg";
import linkedin_icon from "../../assets/linkedin_icon.svg";
import CV from "../../assets/hassanbenhajbouih.pdf";
---

<section
  id="welcome"
  class="min-h-screen -mt-12 flex items-center justify-center"
>
  <div class="text-center md:text-left">
    <p class="animate-fadeIn text-xl">Full-Stack developer</p>
    <p
      class="opacity-0 animate-fadeIn animation-delay-300 font-bold text-4xl md:text-6xl mt-6 mb-4"
    >
      <span class="text-orange">H</span>assan
      <span class="text-orange">B</span>en
      <span class="text-orange">H</span>aj
      <span class="text-orange">B</span>ouih
    </p>
    <p class="opacity-0 animate-fadeIn animation-delay-500 md:text-lg">
      I build Software with efficiency in mind, so who am I?
    </p>
    <div
      class="opacity-0 animate-fadeIn animation-delay-700 mt-6 flex flex-row items-center justify-center md:justify-start"
    >
      <a
        href="https://twitter.com/hassan_bhb"
        class="p-2"
        title="My twitter account link"
      >
        <Image src={twitter_icon} class="w-7" alt="Twitter icon" />
      </a>
      <a
        href="https://github.com/Hassanbhb"
        class="p-2"
        title="My github account link"
        >
        <Image src={github_icon} class="w-7" alt="Github icon" />  
      </a
      >
      <a
        href="https://www.linkedin.com/in/hassan-ben-haj-bouih-014084121/"
        class="p-2"
        title="My linkedin account link"
        >
        <Image src={linkedin_icon} class="w-7" alt="Linkedin icon" />
      </a>
      <a aria-label="Open P D F file" href={CV} class="p-2" title="My cv link">
        <Image src={cv_icon} class="w-7" alt="CV icon"/>
      </a>
    </div>
  </div>
</section>
