---
import Link_icon from '../assets/Link_icon.svg'
import github_icon from "../assets/github_icon.svg"
import readMore from '../assets/readMore_icon.svg'
const { title, link, github_link, page , imgSrc, tools} = Astro.props
const getRandomColor = (i) => {
    const colors = [
      'text-red-400',
      'text-yellow-400',
      'text-green-400',
      'text-blue-400',
      'text-indigo-400',
      'text-purple-400',
      'text-pink-400',
    ];
    return colors[i]
};
---
<div class="md:border-none border pt-3 px-3 mb-4 rounded-sm border-orange">
  <h2 class="text-2xl mb-3">{title}</h2>
  <div class="md:flex md:flex-row md:items-center md:gap-x-4">
    <p class="md:text-xl tracking-wide md:leading-8">Here you can find consolidated data on Morocco's demographics, economy and more. We've gathered information from multiple sources, ensuring you have a comprehensive view in one convenient place.</p>
    <img class="mt-4 object-cover rounded-md md:w-5/12" src={imgSrc} min-width="200"/>
  </div>
  <div class="md:mt-3">
    {tools.map((tool, i) => <span class=`text-xs ${getRandomColor(i)} md:text-base`> #{tool} </span>)}
  </div>
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row gap-4" >
      <a href={link} target="_blank" title=`Project ${title} link`>
        <img src={Link_icon.src} class="w-8 h-8 my-4 hover:animate-wiggle" alt="link icon" />
      </a>
      <a href={github_link} target="_blank" title='Github link'>
        <img src={github_icon.src} class="w-8 h-8 my-4 hover:animate-wiggle" alt="Github icon"/>  
      </a>
    </div>
    <a href={page} class="flex flex-row items-center underline underline-offset-4" title="More details about the project">
      Read more <img src={readMore.src} class="w-8 h-8 ml-2 "/>
    </a>
  </div>
</div>
