---
import twitter_icon from "../assets/twitter_icon.svg"
import github_icon from '../assets/github_icon.svg'
import cv_icon from "../assets/cv_icon.svg"
import linkedin_icon from "../assets/linkedin_icon.svg"
import CV from "../assets/hassanbenhajbouih.pdf"
---

<footer id="contact" class="pt-16 mb-16 md:mb-0">
  <h1 class="mb-14 md:mb-28 tracking-wider text-7xl md:text-9xl font-bold text-center text-secondary opacity-40">CONTACT</h1>
  <div class="w-4/5 m-auto">
    <p class="mb-2 font-bold text-lg md:text-3xl">Let's connect!</p>
    <p class="mb-5 md:text-lg md:tracking-wide">I am currently looking for opportunities, my inbox is always open, Whether you want to hire me or just want to say hi, I will definetly get back to you!</p>
    <a href="mailto:hassan.benhajbouih@gmail.com" class="md:text-xl md:tracking-wide underline underline-offset-4">hassan.benhajbouih@gmail.com</a>
    <div class="mt-3 flex flex-row items-center">
          <a
            href="https://twitter.com/hassan_bhb"
            class="p-2"
            title="My twitter account"
            ><img
              src={twitter_icon.src}
              width="35"
              alt="Twitter icon"
            /></a
          >
          <a
            href="https://github.com/Hassanbhb"
            class="p-2"
            title="My github account"
            ><img
              src={github_icon.src}
              width="35"
              alt="Github Icon"
            /></a
          >
          <a href="https://www.linkedin.com/in/hassan-ben-haj-bouih-014084121/" class="p-2" title="My linkedIn account"
            ><img
              src={linkedin_icon.src}
              width="35"
              alt="linkedin icon"
            /></a>
          <a href={CV} class="p-2" title="My cv"
            ><img
              class="animate-wiggle"
              src={cv_icon.src}
              width="35"
              alt="CV icon"
            /></a>
    </div>
  </div>
  <div class="bg-orange bg-opacity-60 mt-5 md:mt-12 md:w-4/5 md:m-auto">
    <p class="w-4/5 m-auto py-3">Hassan Ben Haj Bouih © 2023</p>
  </div>
</footer>
